# Google Drive Sync
# Copiez ce fichier en .env.local et ne le commitez jamais
# Obtenez votre Client ID sur https://console.cloud.google.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=621001896902-dr840c29uc7nbte029som9ifel936ojj.apps.googleusercontent.com
